{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "islands.secretName" . }}
  labels:
    {{- include "islands.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets.openaiApiKey }}
  ISLANDS_OPENAI_API_KEY: {{ .Values.secrets.openaiApiKey | quote }}
  {{- end }}
  {{- if .Values.secrets.github.token }}
  ISLANDS_PROVIDERS__0__TYPE: "github"
  ISLANDS_PROVIDERS__0__TOKEN: {{ .Values.secrets.github.token | quote }}
  {{- if .Values.secrets.github.webhookSecret }}
  ISLANDS_PROVIDERS__0__WEBHOOK_SECRET: {{ .Values.secrets.github.webhookSecret | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.secrets.gitlab.token }}
  ISLANDS_PROVIDERS__1__TYPE: "gitlab"
  ISLANDS_PROVIDERS__1__TOKEN: {{ .Values.secrets.gitlab.token | quote }}
  {{- if .Values.secrets.gitlab.webhookSecret }}
  ISLANDS_PROVIDERS__1__WEBHOOK_SECRET: {{ .Values.secrets.gitlab.webhookSecret | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.secrets.bitbucket.token }}
  ISLANDS_PROVIDERS__2__TYPE: "bitbucket"
  ISLANDS_PROVIDERS__2__TOKEN: {{ .Values.secrets.bitbucket.token | quote }}
  {{- end }}
  {{- if .Values.secrets.gitea.token }}
  ISLANDS_PROVIDERS__3__TYPE: "gitea"
  ISLANDS_PROVIDERS__3__TOKEN: {{ .Values.secrets.gitea.token | quote }}
  {{- end }}
{{- end }}
---
{{- if and .Values.sshKeys.enabled (not .Values.sshKeys.existingSecret) .Values.sshKeys.privateKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "islands.fullname" . }}-ssh-keys
  labels:
    {{- include "islands.labels" . | nindent 4 }}
type: Opaque
data:
  id_rsa: {{ .Values.sshKeys.privateKey }}
{{- end }}
